# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build logs
build.log

# SPM
.build/
.swiftpm/
Package.resolved

# macOS
.DS_Store
*.swp
*~

# Node
node_modules/
